#checkout {
    display: none;
    min-height: 100vh;
    background: var(--signal-white);
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

#checkout.active {
    display: block
}

.checkout-container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 1200px;
    margin: 0 auto
}

.checkout-main {
    padding: 20px;
    flex: 1.2;
    border-right: 1px solid #e1e1e1;
    padding-top: 40px
}

.checkout-sidebar {
    background: #fafafa;
    padding: 20px;
    flex: 0.8;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 40px
}

.checkout-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 30px;
    letter-spacing: 0.1em
}

.btn-submit-order {
    width: 100%;
    padding: 22px;
    background: var(--void-black);
    color: var(--signal-white);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s
}

.btn-submit-order:hover {
    background: #333
}

.btn-back-cart {
    background: none;
    border: none;
    color: #5a31f4;
    cursor: pointer;
    margin-top: 30px;
    font-size: 0.9rem;
    display: block
}

.cart-item-preview {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.item-thumb {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    position: relative
}

.item-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px
}

.item-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #737373;
    color: var(--signal-white);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600
}

.item-details {
    flex: 1;
    margin-left: 15px
}

.item-name {
    font-weight: 600;
    font-size: 0.95rem;
    display: block;
    margin-bottom: 5px
}

.item-variant {
    font-size: 0.85rem;
    color: #737373
}

.item-price {
    font-weight: 600
}

@media (min-width:1000px) {
    .checkout-container {
        flex-direction: row;
        min-height: 100vh
    }

    .checkout-sidebar {
        border-bottom: none;
        border-left: 1px solid #e1e1e1;
        height: 100vh;
        position: sticky;
        top: 0
    }
}