@media (min-width:768px) and (max-width:1024px) {
    .product-stream {
        justify-content: center;
        gap: 20px;
        padding: 0 20px
    }

    .product-card {
        width: calc(33.33% - 20px);
        min-width: 200px
    }

    .command-bar {
        width: 80%;
        bottom: 30px;
        border-radius: 0
    }
}

@media (min-width:1025px) {
    .product-stream {
        justify-content: center;
        gap: 30px;
        max-width: 1400px;
        padding: 0 40px
    }

    .product-card {
        width: 180px
    }

    .data-bar {
        font-size: 0.75rem
    }

    .command-bar {
        width: 480px;
        left: 50%;
        transform: translateX(-50%) !important;
        bottom: 30px;
        background: rgba(39, 44, 45, 0.9);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5)
    }
}